<nav class="navbar">
  <div class="logo">
      <a routerLink="/home">VALODI Services</a>
  </div>
  <ul class="nav-links">
      <li><a routerLink="/sobre-nosotros">Sobre nosotros</a></li>
      <li><a routerLink="/servicios-digitales">Servicios</a></li>
      <li><a routerLink="/productos">Productos</a></li>
      <li><a routerLink="/colaboradores">Colaboradores</a></li>
  </ul>
  <div class="auth-buttons">
      <a href="#" class="login-btn">Login</a>
      <a href="#" class="signup-btn">Sign Up</a>
  </div>
</nav>