<div class="contact-section">
    <h3>CONTACTO:</h3>
    <div class="contact-content">
      <form class="contact-form">
        <input type="text" placeholder="Nombre y apellidos" required>
        <input type="email" placeholder="E-mail" required>
        <input type="text" placeholder="Núm. teléfono" required>
        <textarea placeholder="Comentarios..." rows="1" optional></textarea>
        <select required>
          <option value="servicios" disabled selected>Selecciona un servicio</option>
          <option value="servicio1">Servicio 1</option>
          <option value="servicio2">Servicio 2</option>
          <option value="servicio3">Servicio 3</option>
          <option value="servicio4">Servicio 4</option>
        </select>
        <button type="submit">Enviar</button>
      </form>
    </div>
  </div>
  